@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

$bg_color: var(--tg-theme-bg-color, #fafbff);
$text_color: var(--tg-theme-text-color, #000);
$button_color: var(--tg-theme-button-color, #f1c40f);
$button_text_color: var(--tg-theme-button-text-color, #000);

body {
  font-size: 16px;
  font-family: 'PT Sans', sans-serif;
}

.calculator {
  height: var(--tg-viewport-stable-height, 100vh);
  background-color: $bg_color;
  z-index: 0;
  overflow: hidden;
  position: relative;
}

.buttons {
  transition: all 0.25s;
  height: calc(100vh - 130px);
  max-height: 340px;

  & > div {
    height: 100%;
  }
}

.button {
  padding: 0;
  outline: none;
  border: none;
  color: $text_color;
  font-size: 1.7em;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 0.5em;

  &:active {
    background-color: $button_color;
    opacity: 0.5;
    scale: 0.85;
  }
}

.svg-button {
  & > svg {
    width: calc(1.7rem + 0.04rem);
  }

  &.equal > svg {
    transform: rotate(90deg);
  }

  &.equal {
    background-color: $button_color;
    color: $text_color;
  }
}

.colorized-button {
  color: $button_color;
}

.result,
.operation {
  font-size: 1.2em;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  
  &.big {
    font-size: 2.6em;
  }
}

.history {
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@media (min-height: 700px) {
  .buttons {
    transition: all 0.25s;
    height: calc(100vh - 130px);
    max-height: 376px;
  }
}

@media (max-height: 600px) {
  body {
    font-size: 14px;
  }
  .history {
    opacity: 0;
  }
}

@media (max-height: 500px) {
  body {
    font-size: 12px;
  }
}

@media (max-height: 450px) {
  body {
    font-size: 11px;
  }
}

@media (max-height: 400px) {
  body {
    font-size: 10px;
  }
}
